{% if page_obj.has_other_pages %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <!-- Link para a primeira página -->
                <li class="page-item">
                    <a class="page-link" href="?page=1">Primeira</a>
                </li>
                <!-- Link para a página anterior -->
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
            {% endif %}

            <!-- Exibe o número da página atual -->
            <li class="page-item active">
                <span class="page-link">
                    Página {{ page_obj.number }}
                </span>
            </li>

            {% if page_obj.has_next %}
                <!-- Link para a próxima página -->
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                </li>
                <!-- Link para a última página -->
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
